$lightWhite: #ededed;
$lightViolet: #a29eb8;
$darkViolet: #222034;
$deepViolet: #181623;
$mediumGrey: #4d4d4d;
$deepBlack: #040406;
$red: #b52125;

etwin-bar {
  height: 40px;
  background-color: $deepBlack;
  color: $lightViolet;
  border-bottom:1px solid $red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-sizing: initial;

  .buttonList {
    float:right;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
  }

  .button {
    font-weight: 800;
    color: $lightWhite;
    margin: 0;
    padding: 6px 12px;
    height: 28px;
    text-decoration: none;
    line-height: 1.8em;

    cursor: pointer;
    height: auto;
    width: auto;
    background-color:$deepBlack;;
    border: none;
    border-left: 1px solid $mediumGrey;
    
    transition: color .15s, background-color .15s;

    &:hover, &:focus {
      background-color: $darkViolet;
      text-decoration: none;
    }
  }
}