<etwin-bar></etwin-bar>
<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>

<div class="star-bg"> </div>

<div id="headBar">
  <nav id="main-menu">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="label-toggle" i18n="Button to toggle the main menu@@app.menu.toggle">Menu</label>
    <ul>
      <li><a routerLink="/" class="disabled" i18n="Menu link to the nexus (feed) page@@app.menu.nexus">Nexus</a></li>
      <li><a routerLink="/games" i18n="Menu link to the games page@@app.menu.games">Games</a></li>
      <li><a routerLink="/forum" i18n="Menu link to the forum page@@app.menu.forum">Forum</a></li>
      <li><a routerLink="/" class="disabled" i18n="Menu link to the groups page@@app.menu.groups">Groups</a></li>
      <li><a routerLink="/donate" i18n="Menu link to the donation page@@app.menu.donate">Donate</a></li>
    </ul>

    <div class="npc"> <!-- TODO : TRANSLATION AND RANDOMIZER //-->
      <img src="https://data.twinoid.com/img/characters/dino_mandragore.png" alt="Mandragore">
      <div class="npcTip">
        <p>Mandragore, héros et aventurier ayant parcouru la totalité des terres de DinoRPG !</p>
      </div>
    </div>
<!--    <div class="npc nb2"> &lt;!&ndash; TODO : TRANSLATION AND RANDOMIZER //&ndash;&gt;-->
<!--      <img src="https://data.twinoid.com/img/characters/labrute_brute.png" alt="Brute">-->
<!--      <div class="npcTip">-->
<!--        <p>La Brute : une vraie boucherie !</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="npc nb3"> &lt;!&ndash; TODO : TRANSLATION AND RANDOMIZER //&ndash;&gt;-->
<!--      <img src="https://data.twinoid.com/img/characters/hordes_zonzon.png" alt="Zonzon">-->
<!--      <div class="npcTip">-->
<!--        <p>Un zombie, de ceux qui hantent les nuits glaciales de Hordes...</p>-->
<!--      </div>-->
<!--    </div>-->
  </nav>
</div>

<div class="content">
  <ng-content></ng-content>
</div>

<footer>
  <div>
    <div class="box language">
      <etwin-language-picker></etwin-language-picker>
    </div>
    <div class="box description">
      <p i18n="Section describing who we are@@home.generalWhoAreWe">
    Eternal-Twin is a non-commercial website operate by hobbyists. Its the goal to archive Motion-Twin's games. This means we want to ensure they remain available even if the official website closes.<strong> We are not related to Motion-Twin</strong>.</p>
    </div>
    <div class="box links">
      <a href="https://discord.gg/ERc3svy">Discord server</a>
      <a href="https://wiki.eternal-twin.net/">Eternal Twinpedia</a>
      <a href="https://gitlab.com/eternal-twin">Gitlab repository</a>
      <a routerlink="/legal" class="button" href="/legal">Legal notices</a>
    </div>
  </div>
</footer>
