<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>
<div class="star-bg"></div>
<ng-content></ng-content>
<footer>
  <div>
    <div class="box language">
      <etwin-language-picker></etwin-language-picker>
    </div>
    <div class="box description">
      <p i18n="Section describing who we are@@home.generalWhoAreWe">
    Eternal-Twin is a non-commercial website operate by hobbyists. Its the goal to archive Motion-Twin's games. This means we want to ensure they remain available even if the official website closes.<strong> We are not related to Motion-Twin</strong>.</p>
    </div>
    <div class="box links">
      <a href="https://discord.gg/ERc3svy">Discord server</a>
      <a href="https://wiki.eternal-twin.net/">Eternal Twinpedia</a>
      <a href="https://gitlab.com/eternal-twin">Gitlab repository</a>
      <a routerlink="/legal" class="button" href="/legal">Legal notices</a>
    </div>
  </div>
</footer>
