<ng-container [ngSwitch]="link.user.type">
  <ng-container *ngSwitchCase="ObjectType.TwinoidUser">
    <a href="https://twinoid.com/user/{{link.user.id}}">
      <span><img src="/assets/login-methods/twinoid.png"/></span>
      <strong>{{link.user.displayName}}</strong>
      <em>twinoid.com</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchCase="ObjectType.HammerfestUser">
    <ng-container [ngSwitch]="link.user.server">
      <ng-container *ngSwitchCase="'hfest.net'">
        <a href="http://www.hfst.net/user.html/{{link.user.id}}">
          <span><img src="/assets/login-methods/hammerfest.png"/></span>
          <strong>{{link.user.username}}</strong>
          <em>hfest.net</em>
        </a>
      </ng-container>
      <ng-container *ngSwitchCase="'hammerfes.es'">
        <a href="http://www.hfst.net/user.html/{{link.user.id}}">
          <span><img src="/assets/login-methods/hammerfest.png"/></span>
          <strong>{{link.user.username}}</strong>
          <em>hammerfest.es</em>
        </a>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <a href="http://www.hammerfest.fr/user.html/{{link.user.id}}">
          <span><img src="/assets/login-methods/hammerfest.png"/></span>
          <strong>{{link.user.username}}</strong>
          <em>hammerfest.fr</em>
        </a>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{link | json}}
  </ng-container>
</ng-container>
